<div class="offcanvas-header text-bg-dark d-flex justify-content-between">
	<span class="fs-4">Weyfit</span>
	<button type="button" class="btn text-reset" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')">
		<i class="bi bi-arrow-bar-left"></i>
	</button>
</div>
<div class="d-flex flex-column flex-shrink-0 text-bg-dark w-100 h-100">
	<ul class="nav nav-pills flex-column">
		@for (item of items; track $index) {
		<li class="nav-item">
			<a [href]=item.url class="nav-link d-flex align-items-center gap-3" aria-current="page">
				<i class="fs-2 bi {{item.icon}}"></i>
				<span class="fs-5">{{item.nome}}</span>
			</a>
		</li>
		}
	</ul>
</div>