<nav class="navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
	<div class="container-fluid">
	  <a class="navbar-brand" [routerLink]="['/teste']">{{ title.getTitle() }}</a>
	  <button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="offcanvas"
		data-bs-target="#offcanvasNavbar"
		aria-controls="offcanvasNavbar"
		aria-label="Toggle navigation"
		(click)="open()"
	  >
		<span class="navbar-toggler-icon"></span>
	  </button>
	</div>
  </nav>
  
  <main>
	  <router-outlet />
  </main>