<div class="d-flex w-100 align-items-center justify-content-end">
	<button (click)="addDropSet()" class="btn btn-primary d-flex gap-2">
		<i class="bi bi-plus-circle"></i>
		<span>Adicionar</span>
	</button>
</div>
<ng-container>
	@for (dropSetForm of dropSets; track dropSetForm; let indexDropSet = $index) {
	<form class="lesson-form-row customized" [formGroup]="dropSetForm">
		<div class="mb-3 d-flex w-100 align-items-center justify-content-between">
			<h5>DropSet {{ indexDropSet + 1 }}</h5>
		</div>
		<div class="mb-3">
			<label for="inputNome" class="form-label">Nome</label>
			<input type="text" class="form-control" id="inputNome" placeholder="Rosca Direta" formControlName="nome" />
		</div>
		<div class="mb-3">
			<label for="inputQuantidadeRepeticoesIdeal" class="form-label">Nº de Repetições Ideal</label>
			<input
				type="text"
				class="form-control"
				id="inputQuantidadeRepeticoesIdeal"
				placeholder="3"
				formControlName="qtdRepeticoesIdeal"
			/>
		</div>
		@for (setForm of sets(indexDropSet); track setForm; let indexSet = $index) {
		<hr />
		<form class="lesson-form-row customized" [formGroup]="setForm">
			<div class="d-flex w-100 align-items-center justify-content-between">
				<h5>Repetição {{ indexSet + 1 }}</h5>
			</div>
			<div class="d-flex w-100 align-items-center justify-content-between">
				<div class="mb-3 w-50">
					<label for="inputNumeroRepeticoes" class="form-label">Nº de Repetições</label>
					<input type="text" class="form-control" id="inputNumeroRepeticoes" placeholder="Repetições" formControlName="qtdRepeticoes" />
				</div>
				<div class="mb-3 w-50">
					<label for="inputPeso" class="form-label">Peso</label>
					<input type="number" class="form-control" id="inputPeso" placeholder="peso" formControlName="peso" />
				</div>
			</div>
			<button (click)="deleteSet(indexDropSet, indexSet)" class="btn btn-danger w-100 mb-3">Excluir</button>
		</form>
		}
		<div class="d-flex w-100 align-items-center justify-content-between">
			<button (click)="addSet(indexDropSet)" class="btn btn-primary">Add Repetição</button>
			<button (click)="deleteDropSet(indexDropSet)" class="btn btn-danger d-flex gap-2 justify-content-center">
				<i class="bi bi-trash3"></i>
				<span>Excluir</span>
			</button>
		</div>
	</form>
	}
</ng-container>
