<div class="d-flex w-100 align-items-center justify-content-end mb-3">
	<button (click)="addCardio()" class="btn btn-primary d-flex gap-2">
		<i class="bi bi-plus-circle"></i>
		<span>Adicionar</span>
	</button>
</div>
<ng-container>
	@for (cardioForm of cardios; track cardioForm; let i = $index) {
	<div ngbAccordion>
		<div ngbAccordionItem>
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>{{ cardioForm.get('nome')?.value !== '' ? cardioForm.get('nome')?.value : 'Cardio ' + (i + 1) }}</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<form class="lesson-form-row customized" [formGroup]="cardioForm">
						<div class="mb-3">
							<label for="inputNome" class="form-label">Nome</label>
							<input type="text" class="form-control" id="inputNome" placeholder="Bicicleta Indoor" formControlName="nome" />
						</div>
						<div class="mb-3">
							<label for="inputDistancia" class="form-label">Distância (Quilômetros)</label>
							<input type="number" class="form-control" id="inputDistancia" placeholder="2.4" formControlName="distancia" />
						</div>
						<div class="mb-3">
							<label for="inputMaquina" class="form-label">Máquina</label>
							<select class="form-select" id="inputMaquina" formControlName="maquina" name="maquina" required="">
								<option [ngValue]="''" selected disabled>Selecione uma opção</option>
								<option value="BICICLETA">Bicicleta</option>
								<option value="ELIPTICO">Elíptico</option>
								<option value="ESTEIRA">Esteira</option>
								<option value="CROSS">Cross</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="inputEstado" class="form-label">Estado</label>
							<input type="text" class="form-control" id="inputEstado" placeholder="Como você se sente?" formControlName="estado" />
						</div>
						<div class="mb-3">
							<label for="inputTempo" class="form-label">Tempo (minutos)</label>
							<input type="number" class="form-control" id="inputTempo" placeholder="25" formControlName="tempo" />
						</div>
						<button (click)="deleteCardio(i)" class="btn btn-danger w-100 d-flex gap-2 justify-content-center">
							<i class="bi bi-trash3"></i>
							<span>Excluir</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	}
</ng-container>
