<main class="d-flex justify-content-center flex-column px-2">
	<form action="" [formGroup]="form" class="customized">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label required">Nome</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome" formControlName="nomeAtividade" />
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Quando</label>
			<input type="date" class="form-control" id="exampleFormControlInput1" placeholder="nome" formControlName="dataAtividade" />
		</div>

		<div ngbAccordion class="accordion">
			<div ngbAccordionItem>
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton>Alongamentos</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<app-alongamento [form]="form"></app-alongamento>
					</div>
				</div>
			</div>
			<div ngbAccordionItem>
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton>Cardios</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<app-cardio [form]="form"></app-cardio>
					</div>
				</div>
			</div>
			<div ngbAccordionItem>
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton>Séries</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<app-serie [form]="form"></app-serie>
					</div>
				</div>
			</div>
			<div ngbAccordionItem>
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton>Drop Sets</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<app-drop-set [form]="form"></app-drop-set>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex w-100 align-items-center justify-content-center mb-3 px-3 fixed-bottom">
			<button (click)="save()" class="btn btn-success btn-lg w-100 d-flex gap-2 justify-content-center">
				<i class="bi bi-floppy"></i>
				<span>Salvar</span>
			</button>
		</div>
	</form>
</main>
